[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
astpretty = "*"
flake8-complex-f-strings = {editable = true, path = "."}

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
